<div class="sidebar">
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">
          <a class="sidebar-nav-item{% if page.url == '/' | apppend: site.baseurl %} active{% endif %}" href="/{{ site.baseurl }}">Home</a>

      {% for node in site.pages %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <nav class="sidebar-nav-collapse">
      <ul>
        <input type="checkbox" id="collapse"/> 
        <label for="collapse"></label>    
        {% for node in site.pages %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="sidebar-about">
      <h1><a href="/{{ site.baseurl }}">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

  </div>
</div>
