---
layout: default
---

<div class="post ctfpost">
  <h1 class="post-title">{{page.event}} - {{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.event and page.points and page.solves and page.tags%}
  <table>
    <tr>
      <td>Event</td>
      <td>Points</td>
      <td>Solves</td>
      <td>Categories</td>
      <td>Task ID</td>
    </tr>
    <tr>
      <td>{{ page.event }}</td>
      <td>{{ page.points }}</td>
      <td>{{ page.solves }}</td>
      <td>{{ page.tags }}</td>
      <td><a target="_blank" href="https://ctftime.org/task/{{page.ctftime-task-id}}">{{page.ctftime-task-id}}</a></td>
    </tr>
  </table>
  {% endif %}
  <br />
  {{ content }}
</div>


